<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProductionDB" connectionString="Data Source=DESKTOP-C9TFPUG, 1433;Initial Catalog=ProductionDB;User ID=huyle;Password=huyle;Trust Server Certificate=True" />
    </connectionStrings>
</configuration>