<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ProductionDB"
			 connectionString="Data Source=HOST_NAME, PORT;Initial Catalog=DB_NAME;User ID=USERNAME;Password=PASSWORD;Trust Server Certificate=True" />
	</connectionStrings>
</configuration>